<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="E:\plp Academy content\Database module\week 8\Database project\style.css">
    <title>Food Types</title>
</head>
<body>
<header>
    <h1>The Food Fairy</h1>
    <nav>
        <a href="beneficiaries.html">Beneficiaries</a>
        <a href="distribution-centers.html">Distribution Centers</a>
        <a href="food-types.html">Food Types</a>
        <a href="delivery-records.html">Delivery Records</a>
    </nav>
</header>
<div class="container">
    <h1>Food Types</h1>
    <form id="foodTypeForm">
        <input type="text" id="foodTypeName" placeholder="Food Type" required>
        <button type="submit">Add Food Type</button>
    </form>
    <table id="foodTypeTable" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Food Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script src="E:\plp Academy content\Database module\week 8\Database project\food-fairy\js\food-types.js"></script>

</body>
</html>
